<!DOCTYPE html>
<html lang="en">
<head>
    <title> My Gram</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    </head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a id="MyGram" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">My Gram</a>
               </div>
            <div class="container">
                <input id="search" type="text" placeholder="search" />
                </div>
                <div class="container" id="container">
                    <a class="button" href="~/Home/LogIn">Log In</a>
                    <a class="button" href="~/Home/Register">Sign Up</a>
                    <a href="~/Home/UserProfile"> <img id="UserIcon" alt="UserIcon" src="~/Images/UserIcon.png" /></a>
                </div>
</nav>
    </header>
  <div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
      </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            <a id="links" href="https://www.google.com/" target="_blank">
                About
            </a>
            <a id="links" download="_blank" href="https://neilpatel.com/wp-content/uploads/2017/08/blog.jpg">
                Blogs
            </a>
            <a id="links" download="_blank" href="https://www.businessinsider.in/photo/72532929/These-jobs-may-disappear-in-the-coming-years-with-the-advancement-in-technology.jpg?imgsize=27423">
                Jobs
            </a>
            <a id="links" href="https://www.google.com/" target="_blank">
                Help
            </a>
            <a id="links" download="_blank" href="https://fluencycorp.com/wp-content/uploads/2019/01/hardest-part-learning-english.jpg">
                English
            </a>
            <a id="links" href="https://en.wikipedia.org/wiki/2021" target="_blank">
                2021
            </a>

            <a id="links" href="#Top">
                My Gram
                </a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
