<!DOCTYPE html>
<html lang="en">
<head>
    <title> My Gram</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    </head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">My Gram</a>
<div class="container">
<button id="Btn1">Log In</button>
            </div>
            <div>
                <button>
                    <a href="https://localhost:5001/Home/register"> Sign Up
                </button>
                </a>
            </div>
        </nav>
    </header>
  
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <footer class="border-top footer text-muted">
        <div>
            <a href="https://www.google.com/" target="_blank">
                About
            </a>
            <a download="_blank" href="https://neilpatel.com/wp-content/uploads/2017/08/blog.jpg">
                Blogs
            </a>
            <a download="_blank" href="https://www.businessinsider.in/photo/72532929/These-jobs-may-disappear-in-the-coming-years-with-the-advancement-in-technology.jpg?imgsize=27423">
                Jobs
            </a>
            <a href="https://www.google.com/" target="_blank">
                Help
            </a>
            <a download="_blank" href="https://fluencycorp.com/wp-content/uploads/2019/01/hardest-part-learning-english.jpg">
                English
            </a>
            <a href="https://en.wikipedia.org/wiki/2021" target="_blank">
                2021
            </a>

            <a href="#Top">
                My Gram
                </a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
