/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: white;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
#MyGram {
    font-family: cursive;
    font-size: xx-large;
    font: bold;
}

img {
    width: 200px;
    height: 200px;
}

#UserIcon {
    width: 30px;
    height: 30px;
}

.button {
    background-color: dodgerblue;
    color: white;
    padding: 5px 15px 5px 10px;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    text-decoration: none;
}
    .button:hover {
        color: white;
        background-color: royalblue;
        text-decoration: none;

    }
  #SignUp {
        text-decoration:none;
    }


.button2 {
    background-color: dodgerblue;
    color: white;
    padding: 10px 30px 10px 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: RGBA(0,0,0,.8);
    text-decoration: none;
}

    .button2:hover {
        color: white;
        background-color: royalblue;
        text-decoration: none;
    }
#search {
    border-style: solid;
    border-radius: 5px;
}

.pb-3 {
    background-color: #fafafa;
   

}

footer, #links {
    text-align: center;
    background-color: #cccccc;
    font-size: 12px;
    color: black;
    text-decoration:none;
}
#FooterFollow {
    background-color: RGBA(0,0,0,.8);
    height: 100px;
    color: white;
    text-align: left;
    backdrop-filter: blur(1px) brightness(0.5);
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    animation-name: MyAnimation;
    animation-duration: 5s;
    animation-iteration-count:1;
    animation-direction:normal;
    animation-fill-mode:forwards;
}
@keyframes MyAnimation {
    from {
        visibility: visible;
    }

    to {
        visibility: hidden;
    }
}
                     
           
