@{
    ViewData["Title"] = "Home Page";
}
<table>
<thead>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Image 1 <br />
            </td>
            <td>Image 2<br />
            </td>
            <td>Image 3<br />
          </td>
        </tr>
        <tr>
            <td>Image 4 <br />
                </td>
            <td>Image 5 <br />
                </td>
            <td>Image 6 <br />
            </td>
        </tr>

</thead>
</table>
