@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Index.css" />
<div id="section">
    <table id="table">
        <thead>

        </thead>
        <tbody>
            <tr>
                <td rowspan="3">
                    <img id="img1" src="~/Images/dark_knight_thejoker.jpeg"/>
                </td>
                <td>
                    Robert Saenz            <input class="button" id="Follow" type="button" value="Follow" />
                </td>
            </tr>
            <tr>
                <td id="UserInfo">
                    <b>100</b> Posts                <b>300</b> Followers                    <b>74</b> Following
                </td>
            </tr>
            <tr>
                <td>
                    Ambition is Priceless
                </td>
            </tr>
        </tbody>
    </table>
<p>
    <table>
        <tbody>
            <tr>
                <td rowspan="1">
                    <img id="img2" src="~/Images/dragon-ball-z.jpeg" />&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img id="img2" src="~/Images/Naruto.jpeg" />
                </td>
            </tr>
            <tr>
                <td>
                    Dragon Ball Z &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    Naruto
                </td>
            </tr>
        </tbody>
    </table>
<section id="links2">
    <br />
    <a id="links2" href="https://www.google.com/" target="_self">POSTS</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a id="links2" href="https://www.google.com" target="_blank">REELS</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a id="links2" href="https://www.google.com/" target="_blank">IGTV</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a id="links2" href="https://www.google.com" target="_self">TAGGED</a>
</section>
    </div>
<br />


<table id="table">


    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img alt="High Voltage Sign" src="~/Images/Highvoltage.jpeg" /><br />
            </td>
            <td>
                <img alt="Red Hot Chili Peppers" src="~/Images/RHCP.jpeg" /><br />
            </td>
            <td>
                <img alt="Pokemon" src="~/Images/pokemon.0.jpeg" /><br />
            </td>
        </tr>
        <tr>
            <td>
                <img alt="Super Mario 64" src="~/Images/mario.jpeg" /><br />
            </td>
            <td>
                <img alt="Dead By Daylight" src="~/Images/DeadByDaylight.jpeg" /><br />
            </td>
            <td>
                <video controls autoplay muted
                       style="width:200px;height:200px;">
                    <source src="~/Videos/sample.mp4"
                            type="video/mp4" />
                    </video>
        </tr>

    </tbody>
</table>
