@{
    ViewData["Title"] = "Home Page";
}
<table>
   
<thead>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        <style>
            img {
                width: 200px;
                height: 200px;
            }
        </style>
        <tr>
            <td>
                <img alt="High Voltage Sign" src="~/Images/Highvoltage.jpeg" /><br />
            </td>
            <td>
                <img alt="Red Hot Chili Peppers" src="~/Images/RHCP.jpeg" /><br />
            </td>
            <td>
                <img alt="Pokemon" src="~/Images/pokemon.0.jpeg" /><br />
            </td>
        </tr>
        <tr>
            <td>
                <img alt="Super Mario 64" src="~/Images/mario.jpeg" /><br />
            </td>
            <td>
                <img alt="Dead By Daylight" src="~/Images/DeadByDaylight.jpeg" /><br />
            </td>
            <td>
                <video controls autoplay muted
                       style="width:200px;height:200px;">
                    <source src="~/Videos/sample.mp4"
                            type="video/mp4" />
</tr>

</tbody>
</table>
