<form action="~/Home/SaveUser" method="get">
    <fieldset>
        <legend>User Information</legend>
        <table>
            <tbody>
                <tr>
                    <td>
                        <label for="UserName">User Name :</label>
                    </td>
                    <td>
                        <input id="UserName" name="UserName"
                               type="text" size="40" maxlength="15"
                               placeholder="Add your User Name" />
                    </td>
                    </tr>
                <tr>
                    <td>
                        <label for="Password">Password :</label>
                    </td>
                    <td>
                        <input id="Password" name="Password"
                               type="text" size="40" maxlength="15"
                               placeholder="Add your Password"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Register" />
                    </td>
                </tr>
            </tbody>
        </table>
        </fieldset>
</form>
